.infoContainer {
  width: 50%;
  margin-bottom: 50px;
  @media (max-width: 1150px) {
    width: 80%;
  }
}

.contract {
  padding: 20px;
  background-color: #568736;
  border-radius: 50px;
  color: #fff;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
}

.contract:hover {
  cursor: pointer;
}
.contract span:first-child {
  margin-right: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-bottom: 40px;
}

.about span {
  font-style: italic;
}

.about h1 {
  margin: -180px 0 5px 0;
  font-size: 40px;
  color: #26ef8e;
  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.about p {
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  max-width: 400px;
  line-height: 1.7;
}
