.containerHeader {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 50px;
  width: 100%;
  height: 1300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 96.55%,
    2% 96.47%,
    4% 96.23%,
    6% 95.83%,
    8% 95.27%,
    10% 94.58%,
    12% 93.75%,
    14% 92.8%,
    16% 91.75%,
    18% 90.61%,
    20% 89.4%,
    22% 88.15%,
    24% 86.86%,
    26% 85.56%,
    28% 84.27%,
    30% 83.01%,
    32% 81.8%,
    34% 80.66%,
    36% 79.61%,
    38% 78.67%,
    40% 77.84%,
    42% 77.14%,
    44% 76.59%,
    46% 76.19%,
    48% 75.94%,
    50% 75.86%,
    52% 75.94%,
    54% 76.19%,
    56% 76.59%,
    58% 77.14%,
    60% 77.84%,
    62% 78.67%,
    64% 79.61%,
    66% 80.66%,
    68% 81.8%,
    70% 83.01%,
    72% 84.27%,
    74% 85.56%,
    76% 86.86%,
    78% 88.15%,
    80% 89.4%,
    82% 90.61%,
    84% 91.75%,
    86% 92.8%,
    88% 93.75%,
    90% 94.58%,
    92% 95.27%,
    94% 95.83%,
    96% 96.23%,
    98% 96.47%,
    100% 96.55%
  );
}

.header {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) */
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  text-align: left; /* Ensure text is aligned to the left */
  padding-left: 70px; /* Add some padding on the left to not stick to the edge */
  width: 75%; /* Ensure the container spans the full width */
}
.headerTitle,
.headerSub {
  align-self: flex-start; /* Align self to start (left) for individual control if needed */
  max-width: 500px;
}
.headerText {
  align-self: flex-start;
  max-width: 520px;
  color: #ffffef;
  text-shadow: 2px 2px black;
  line-height: 1.6;
  font-size: 16px;
}
.headerTitle {
  font-size: 60px;
  margin-bottom: 20px;
  color: #ffffef;
  text-shadow: 2px 2px black;
}

.headerSub {
  display: flex;
  font-size: 25px;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  color: #26ef8e;
  text-shadow: 2px 2px black;

  @media (max-width: 1024px) {
    font-size: 25px;
    margin: 10px;
  }

  @media (max-width: 425px) {
    font-size: 18px;
  }
}

.headerBuy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
