/* Adjust the root variables to match the image design */
:root {
  --navbar-height: 80px; /* Set a fixed height for the navbar */
  --navbar-background-color: #ffffff; /* White background for the navbar */
  --navbar-text-color: #26ef8e; /* Green text color to match your design */
  --navbar-hover-color: #26ef8e; /* Lighter green for hover effect */
  --navbar-font-size: 1rem; /* Adjust the font size to match the image */
  --navbar-item-spacing: 2rem; /* Space between navbar items */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
  padding: 0 10%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow to navbar */
}

.logo {
  /* Give the logo a fixed width and auto margin to push it to the left */
  flex: 0 0 220px; /* Adjust the width as necessary */
  margin-right: auto; /* This pushes the following elements to the right */
}

/* Adjust the .image class if you have specific dimensions for your logo */
.image {
  width: 100%; /* This will make the logo responsive to the .logo container */
  height: auto; /* Keep the height auto to maintain the aspect ratio */
}

.logo img {
  width: 80px;
  height: 80px;
}
/* Rest of the CSS remains unchanged */

.navbarGroup {
  display: flex;
  gap: var(--navbar-item-spacing);
}

.navbarItem a {
  text-decoration: none;
  color: var(--navbar-text-color);
  font-size: 20px;
   /* Making the font a bit bolder */
  padding-bottom: 0.5rem; /* Space for the underline */
  transition: all 0.4s ease; /* Smooth transition for hover and active effects */
  position: relative; /* Needed to position the pseudo-elements */
  overflow: hidden;
}

.navbarItem a::after {
  content: '';
  display: block;
  width: 0; /* Start with a width of 0 */
  height: 2px;
  background-color: var(--navbar-hover-color); /* Use the green color for the underline */
  position: absolute;
  bottom: 0;
  left: 0; /* Start from the center */
  transition: width 0.5s ease, left 0.5s ease; /* Smooth transition for width and starting position */
  transform: translateX(0); /* Ensure it grows from the center */
}

.logo { display: flex; align-items: center; gap: 2rem;}

.logoText a {
  font-size: 35px; 
}

.navbarItem a:hover::after {
  width: 100%; /* Full width on hover */
  left: 0; /* Start expanding from the left */
}

.navbarItem a.active::after {
  width: 100%; /* Ensure it's also full width for active links, if you use this class */
  left: 0;
}


/* Responsive adjustments */
@media (max-width: 1325px) {
  :root {
    --navbar-font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  :root {
    --navbar-font-size: 0.8rem;
    --navbar-height: 60px;
  }
}

@media (max-width: 500px) {
  .navbarGroup {
    gap: 1rem;
  }
}

@media (max-width: 330px) {
  .navbarGroup {
    gap: 0.5rem;
  }
}
